[Unit]
Description=Gunicorn instance to serve Elecciones Dashboard
After=network.target

[Service]
# Nombre de usuario del VPS
User=cristian
Group=www-data
# Ruta real en tu VPS
WorkingDirectory=/home/cristian/apps/eleccionese
Environment="PATH=/home/cristian/apps/eleccionese/venv/bin"
ExecStart=/home/cristian/apps/eleccionese/venv/bin/gunicorn --workers 3 --bind unix:elecciones.sock -m 007 server:app

[Install]
WantedBy=multi-user.target
